<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    EJS File

    <h1><%= htmlWebpackPlugin.options.name %></h1>
    <div id="app"></div>
    <script type="text/javascript" src="bundle.js"></script></body>
</html>
